@use 'hero';
@use 'shows';
@use 'variables';

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir, 'sans-serif';
}

body{
    background-color: variables.$corDeFundo;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$corTextPrincipal
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variables.$corTextSecundaria
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.title--big{
    @include title(48px);
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.link-text{
    @include text(18px);
    color: variables.$corTextSecundaria;
    text-decoration: underline;
}